<h1>{{t "virtualMachine.search.title" }}</h1>
<form class="form-horizontal" role="form">
	{{input_for "name" translationRoot="virtualMachine" isNoLabel="true"}}
	{{input_for "os" translationRoot="virtualMachine" isNoLabel="true"}}
	{{input_for "startDate" translationRoot="virtualMachine" isNoLabel="true"}}
	
	{{button "virtualMachine.search.btnReset" icon="remove" type="button" class="btn btn-default pull-left" id="resetBtn"}}
	{{button "virtualMachine.search.btnSearch" icon="search" type="submit" class="btn btn-primary pull-right" isScript=false}}
</form>

<div id="results"></div>