<table class="table table-hover table-bordered">
	<caption><br/></caption>
    <thead id="tableHeader">
    	<tr>
			<th>{{sortColumn "name" translationKey="virtualMachine.name"}}</a></th>
			<th>{{sortColumn "nbCpu" translationKey="virtualMachine.nbCpu"}}</th>
			<th>{{t "virtualMachine.memory"}} {{sortColumn "memory"}}</th>
		</tr>
    </thead>
    <tbody>
    	{{#each collection}}
	        <tr id="{{id}}">
	          <td>{{name}}</td>
	          <td>{{nbCpu}}</td>
	          <td>{{memory}}</td>
	        </tr>    
		{{/each}}
    </tbody>
</table>
<div id="pagination"></div>