<div class="panel panel-default">
 	<div class="panel-heading">
    	<h3 class="panel-title">{{t "virtualMachine.detail.title" }}</h3>
  	</div>
  	<div class="panel-body">
		{{display_for "name" max="50"}} 
		{{display_for "nbCpu"}}
		{{display_for "memory" }} 
		{{display_for "diskCapacity" }}   	 
  	</div>
</div>