<form class="form-horizontal" role="form">
	<div class="panel panel-default">
	 	<div class="panel-heading">
	    	<h3 class="panel-title">{{t "virtualMachine.detail.title" }}</h3>
	  	</div>
	  	<div class="panel-body">
	  	{{#if isEdit}}
	  		{{input_for "name" translationRoot="virtualMachine" isRequired="true"}}
			{{input_for "nbCpu" translationRoot="virtualMachine" dataType="number" isRequired="true"}}
			{{input_for "memory" translationRoot="virtualMachine" dataType="number" isRequired="true"}}   	 
			{{input_for "users" translationRoot="virtualMachine" isRequired="true"}}
			{{input_for "diskCapacity" translationRoot="virtualMachine" isRequired="true"}}
			{{input_for "startDate" translationRoot="virtualMachine"  dataType="date" isRequired="true"}}
			{{input_for "endDate" translationRoot="virtualMachine"  dataType="date" isRequired="true"}}
			{{options_selected "osId" listKey="osList" translationRoot="virtualMachine" isRequired="true"}}
			{{button "button.cancel" class="pull-left btn-default"}}
			{{#if isCreate}}
				{{button "button.create" type="submit" class="pull-right btn-success"}}
			{{else}}
				{{button "button.update" type="submit" class="pull-right btn-success"}}
			{{/if}}
		{{else}}
			{{input_for "name" translationRoot="virtualMachine" readonly="true"}}
			{{input_for "nbCpu" translationRoot="virtualMachine" readonly="true"}}
			{{input_for "memory" translationRoot="virtualMachine" readonly="true"}}   	 
			{{input_for "users" translationRoot="virtualMachine" readonly="true"}}
			{{input_for "diskCapacity" translationRoot="virtualMachine" readonly="true"}}
			{{input_for "startDate" translationRoot="virtualMachine" readonly="true" dataType="date"}}
			{{input_for "endDate" translationRoot="virtualMachine" readonly="true" dataType="date"}}
			{{options_selected "osId" listKey="osList" translationRoot="virtualMachine" }}
			{{button "button.edit" id="btnEditVm" class="btn-primary pull-right"}}
		{{/if}}
	  	</div>
	</div>
</form>
